In [8]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key
print(g_key)

ImportError: cannot import name 'g_key' from 'config' (C:\Users\19052\OneDrive\Desktop\Class\World_Weather_Analysis\config.py)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Vaini,-21.2000,-175.2000,77.36,80,19,16.98,TO,2021-12-12 19:00:57
1,1,Port Lincoln,-34.7333,135.8667,60.48,77,87,16.35,AU,2021-12-12 19:01:38
2,2,Atuona,-9.8000,-139.0333,78.91,77,23,19.13,PF,2021-12-12 19:01:38
3,3,North Bend,43.4065,-124.2243,47.95,100,100,18.70,US,2021-12-12 19:01:38
4,4,Waipawa,-41.4122,175.5153,54.23,95,100,7.83,NZ,2021-12-12 19:01:39